body {
    background-image: url("jukebox.jpg");
    background-size: 100% 100%;
    background-position: center;
    background-attachment: fixed;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: lightgray;
}
  
li {
    float: left;
}

li a {
    display: block;
    color: black;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    transition: 1s;
}

li a:hover {
    background-color: gray;
}

.card {
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,1);
    overflow: hidden;
    width: 300px;
    transition: 0.3s;
    padding: 10px;
    text-align: center;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,2);
}

.section {
    Display: flex;  
    align-items: center;  
    justify-content: center;
}